<div class="header">
	<h1>{{ Default.title }}</h1>
	<div ng-click="clicked = !clicked" ng-class="clicked ? 'list-btn' : 'grid-btn'" id="view-btn">
		<div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
		</div>
		<div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
		</div>
		<div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
			<div ng-class="clicked ? 'grid' : 'list'"></div>
		</div>
	</div>
</div>
<div class="content">
	<div ng-class="clicked ? 'large' : 'small'" ng-repeat="post in posts">
		<img ng-src="{{post.images.standard_resolution.url}}" alt="{{ post.caption.text }}">
		<h4>{{post.caption.text}}</h4>
	</div>
</div>
