/* styles in src/style directory are applied to the whole page */
* {
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: 0; padding: 0;
	cursor: default;
	user-select: none;
	box-sizing: border-box;
}

html {
	font-size: 20px;
	font-family: 'Roboto';
}

body {
	background-color: #7f8c8d;
  color: #2c3e50;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.header {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	height: 5rem;
	font-size: 1.5rem;
	background-color: #e67e22;
	color: white;
	padding: 1rem;
	font-family: 'VT323';
	display: flex;
}

.header h1 {
	flex-grow: 1;
}

#list, #grid {
	width: 2.2rem;
	height: 2rem;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin-left: 2rem;
}

#list div {
	width: 100%;
	height: calc(2rem / 5);
	background-color: white;
}

#grid div {
	width: calc(2.5rem / 5);
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

#grid div div {
	width: 100%;
	height: calc(2.5rem / 5);
	background-color: white;
}

.content {
	display: flex;
	flex-flow: row wrap;
	padding: 1rem;
}

.small, .large {
	background-color: #ecf0f1;
	padding: 1rem;
	margin: 1rem;
	font-size: 0.8rem;
	color: #182229;
	line-height: 1rem;
}

.small > h4 {
	height: 3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}

.small {
	animation-duration: 1s;
	animation-name: unenhance;
	width: calc(33.3% - 2rem);
}

.large {
	animation-duration: 1s;
	animation-name: enhance;
	width: 100%;
}

@keyframes enhance {
	from {
		width: calc(33.3% - 2rem);
	}
	to {
		width: 100%;
	}
}

@keyframes unenhance {
	from {
		width: 100%;
	}
	to {
		width: calc(33.3% - 2rem);
	}
}

img {
	width: 100%;
	padding-bottom: 0.5rem;
}
