/* styles in src/style directory are applied to the whole page */
* {
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: 0; padding: 0;
	cursor: default;
	user-select: none;
	box-sizing: border-box;
}

html {
	font-size: 20px;
	font-family: 'Roboto';
}

body {
	background-color: #7f8c8d;
  color: #2c3e50;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.header {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	height: 5rem;
	font-size: 1.5rem;
	background-color: #e67e22;
	color: white;
	padding: 1rem;
	font-family: 'VT323';
	display: flex;
}

.header h1 {
	flex-grow: 1;
}

#view-btn {
	width: 2.2rem;
	height: 2.2rem;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin-left: 2rem;
	margin-top: 0.1rem;
}

.grid-btn {
	animation-duration: 1s;
	animation-name: to-grid;
	animation-fill-mode: forwards;
}

@keyframes to-grid {
	from { transform: rotate(0deg); }
	to { transform: rotate(90deg); }
}

.list-btn {
	animation-duration: 1s;
	animation-name: to-list;
	animation-fill-mode: forwards;
}

@keyframes to-list {
	from { transform: rotate(90deg); }
	to { transform: rotate(0deg); }
}

#view-btn div {
	width: calc((100% + 0.2rem) / 5);
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#view-btn div div {
	background-color: white;
}

.grid {
	animation-duration: 1s;
	animation-name: grid-btn;
	animation-fill-mode: forwards;
}

@keyframes grid-btn {
	from {
		height: calc(100% / 3);
		width: 80%;
	}
	to {
		height: calc((100% + 0.2rem) / 5);
		width: 100%;
	}
}

.list {
	animation-duration: 1s;
	animation-name: list-btn;
	animation-fill-mode: forwards;
}

@keyframes list-btn {
	from {
		height: calc((100% + 0.2rem) / 5);
		width: 100%;
	}
	to {
		height: calc(100% / 3);
		width: 80%;
	}
}

.content {
	display: flex;
	flex-flow: row wrap;
	padding: 1rem;
}

.small, .large {
	background-color: #ecf0f1;
	padding: 1rem;
	margin: 1rem;
	font-size: 0.8rem;
	color: #182229;
	line-height: 1rem;
	float: left;
}

.small > h4 {
	height: 3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}

.small {
	animation-duration: 1s;
	animation-name: unenhance;
	animation-fill-mode: forwards;
}

.large {
	animation-duration: 1s;
	animation-name: enhance;
	animation-fill-mode: forwards;
}

@keyframes enhance {
	from {
		width: calc(33.3% - 2rem);
	}
	to {
		width: 100%;
	}
}

@keyframes unenhance {
	from {
		width: 100%;
	}
	to {
		width: calc(33.3% - 2rem);
	}
}

.list-img {
	animation-duration: 1s;
	animation-name: list-img;
	animation-fill-mode: forwards;
}

@keyframes list-img {
	from{ 
		width: 100%; 
		padding-bottom: 0.5rem;
	}
	to{ 
		width: calc(33.3% - 3rem); 
		padding-bottom: 0rem;
	}
}

.grid-img {
	animation-duration: 1s;
	animation-name: grid-img;
	animation-fill-mode: forwards;
}

@keyframes grid-img {
	from{ 
		width: calc(33.3% - 3rem); 
		padding-bottom: 0rem;
	}
	to{ 
		width: 100%; 
		padding-bottom: 0.5rem;
	}
}

.list-text {
	animation-duration: 1s;
	animation-name: list-text;
	animation-fill-mode: forwards;
	float: right;
}

@keyframes list-text {
	from {
		width: 100%;
		font-size: 1rem;
		line-height: 1rem;
		padding: 0rem;
	}
	to {
		width: 70%;
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 2rem;
	}
}

.grid-text {
	animation-duration: 1s;
	animation-name: grid-text;
	animation-fill-mode: forwards;
	float: right;
}

@keyframes grid-text {
	from {
		width: 70%;
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 2rem;
	}
	to {
		width: 100%;
		font-size: 1rem;
		line-height: 1rem;
		padding: 0rem;
	}
}
